#Proxima-Charla {
    background: #a4452c;
    padding: 100px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }
    #Proxima-Charla .wrapper {
    width: 800px;
    margin: auto;
}


.wrapper img {
    width: 25%;
    }
    .wrapper .texto {
    width: 70%;
    margin-left: 4%;
    }

.wrapper img, .texto {
    display: inline-block;
    vertical-align: middle;
    }

footer {
    font-family:'Open Sans', sans-serif; 
    text-align: center;
    background: #000f08;
    color: white;
    padding: 20px;
}

i{
    font-size: 30px;
}
    